@* <EditForm Model="Genre" OnValidSubmit="Submit">
	<DataAnnotationsValidator />
	<div class="form-group">
		<label>Genre Name: </label>
		<div>
			<InputText class="form-control mb-2" @bind-Value="Genre?.Name" />
			<ValidationMessage For="(() => Genre.Name)" />
		</div>
	</div>
	<button class="btn btn-outline-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public Genre? Genre{ get; set; }
	[Parameter]
	public EventCallback Submit{ get; set; }
}
 *@