<div class="row">
	<div class="col text-center" style="height : 500px">
		<img src="https://static.wixstatic.com/media/1e9d5f_4a15511d34de481e9b26a328403f6fed~mv2.png/v1/fit/w_650%2Ch_472%2Cal_c%2Cq_80,enc_auto/file.jpg" class="h-100" />
	</div>
</div>

@code {

}
