@page "/studio/create"

<div class="row">
	<div class="col">
		<h1 class="text-info">Create Developer Studio</h1>
	</div>
</div>
<div class="row">
	<div class="col-8">
		<DeveloperPageForm Developer="Developer" OnValidSubmitHandler="Create"/>
	</div>
	<div class="col">
	</div>
</div>

@code {
	private GameDeveloper Developer = new();

	public void Create()
	{
		
	}
}
