@page "/games/create"

@inject NavigationManager navManager
@inject IRepository db

<div class="row">
	<div class="col">
		<h1 class="text-info text-center text-uppercase">Create Game Page</h1>
	</div>
</div>

<div class="row">
	<div class="col">
		<GameForm Game="game" OnValidSubmit="AddNewGame" NotSelectedGenres="notSelectedGenres" />
	</div>
</div>

@code {
	private GameModel game = new();
	private List<Genre> notSelectedGenres = new();

	protected override void OnInitialized()
	{
		notSelectedGenres = db.GetAllGenres();
	}

	void AddNewGame()
	{
		bool addResult = db.CreateNewGame(game);
		Console.WriteLine($"Games in DB / after creation new game: {db.GetAllGames().Count}");
		if(addResult)
		{
			navManager.NavigateTo("/");
		}
	}
}
