@page "/games/edit/{GameId:int}"
@inject IRepository db

<div class="row">
	<div class="col">
		<h1 class="text-info text-center text-uppercase">Edit Game</h1>
	</div>
</div>

<div class="row">
	<div class="col">
		<GameForm Game="game" OnValidSubmit="EditCurrGame" />
	</div>
</div>

@code {
	private GameModel game;

	[Parameter]
	public int GameId{ get; set; }

	protected override void OnInitialized()
	{
		game = db.GetGameById(GameId);
	}
	public void EditCurrGame()
	{
		
	}
}
