.game-name{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: dodgerblue;
    background-color: #e9e6ff;
    border-radius:5px 5px 0 0;
}
.hr-fix{
    margin:5px 0 !important;
}
.card-image{
    background-color: rgba(0,0,0,.1);
    padding: 5px 0;
}
.game-image{
    max-width: 200px;
    max-height: 250px;
}
.game-card-footer {
    background-color: #e9e6ff;
    border-radius: 0 0 5px 5px;
}
.form-markdown textarea{
    width: 500px;
    height: 500px;
    margin-right: 15px;
}
.form-markdown .container-markdown {
    border: 1px dashed #000;
    width: 500px;
    height: 500px;
}
.selectable-list{
    padding: 20px;
    border:1px groove #6c757d;
    border-radius: 3px;
    min-width: 150px;
}

.list-group.item:hover{
    cursor:pointer;
    border:1px dashed #000000;
}