@page "/genres/create"

<div class="row">
	<div class="col">
		<h1 class="text-info">Create Genre</h1>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<ForGenre Genre="genre" Submit="Create" />
	</div>
</div>

@code {
	private Genre genre = new();

	public void Create()
	{
		Console.WriteLine(genre?.Name);
	}
}
